{{ ANNOUNCEMENT }}

# UCSF VPN client (Linux)

The `ucsf-vpn` script is a Linux-only tool for connecting to and disconnecting from the UCSF VPN server.  It is based on the official UCSF instructions provided by the [UCSF IT](https://it.ucsf.edu/services/vpn) with additional instructions obtained through private communication.

## Connect
```sh
$ ucsf-vpn start --user alice --pwd secrets
Enter 6-digit Duo token or press your YubiKey: <valid token>
RESULT: Connected to the UCSF network [otp477510ots.ucsf.edu (128.218.42.138)]

$ ucsf-vpn status
Connected to the UCSF network [otp477510ots.ucsf.edu (128.218.42.138)]

$ ucsf-vpn details
{
  "ip": "128.218.42.138",
  "hostname": "otp477510ots.ucsf.edu",
  "city": "San Francisco",
  "region": "California",
  "country": "US",
  "loc": "37.7631,-122.4586",
  "org": "AS5653 University of California San Francisco",
  "postal": "94143"
}
```

If you have problems connect using `ucsf-vpn`, make sure you are using the correct username and password, e.g. by testing to log in via the [UCSF VPN web proxy](https://remote.ucsf.edu/).

Alternatively to command-line options, the username and password can also be specified in file `~/.netrc` (or the file that environment variable `NETRC` specifies).  See `ucsf-vpn --help` for more details.


## Disconnect
```sh
$ ucsf-vpn stop
RESULT: Killed local VPN process
RESULT: Not connected to the UCSF network [example.org (93.184.216.34)]
```


## Usage
```sh
{{ HELP }}
```


## Installation

### `ucsf-vpn`

The `ucsf-vpn` script is distributed under GPL (>= 2.1) and the source
code is available at https://github.com/HenrikBengtsson/ucsf-vpn/.  To
"install" it, just do

```
$ curl -O https://raw.githubusercontent.com/HenrikBengtsson/ucsf-vpn/master/bin/ucsf-vpn
$ chmod ugo+x ucsf-vpn
```

### Pulse Secure client

Importantly, `ucsf-vpn` is just a convenient wrapper script around the Junos
Pulse Secure client (Pulse Secure, LLC), which it expect to be available
as `/usr/local/pulse/pulsesvc`.
This software, which is a **closed-source proprietary software** (*),
can be downloaded from UCSF website:

* https://software.ucsf.edu/content/vpn-virtual-private-network

Access to that page requires UCSF MyAccess Login (but no UCSF VPN).


## OpenConnect?

In August 2017, the UCSF VPN server was updated such that it no longer works with OpenConnect (< 7.08).

For instance, users on Ubuntu 16.04 (Xenial) only gets OpenConnect 7.06, which [fails to connect with an error](https://github.com/HenrikBengtsson/ucsf-vpn/issues/4).  It has later been found that this was fixed in OpenConnect 7.08.  [There is a confirmed way to force install this](https://github.com/HenrikBengtsson/ucsf-vpn/issues/4) on to Ubuntu 16.04 from the Ubuntu 17.04 (Zesty) distribution, but it is not clear whether such an installation leaves the system in a stable state or not.  Moreover, due to library dependencies, it appears not possible to have OpenConnection 7.08 and Pulse Secure 5.3-3 installed at the same time.


## Privacy

The `ucsf-vpn` software uses the https://ipinfo.io/ service to infer whether
a VPN connection is established or not, and to provide you with details on
your public internet connection.  The software does _not_ collect or attempt to collect any of your UCSF
credentials.
